.cls-1 {
    isolation: isolate;
}

.cls-2 {
    fill: #01bcff;
}

.cls-3 {
    fill: #018dff;
}

.cls-4 {
    fill: #33c8ff;
}

.cls-5 {
    font-size: 16.2px;
    font-family: MyriadPro-Regular, Myriad Pro;
}

.cls-6 {
    fill: #ffde75;
}

.cls-7 {
    fill: #003b3c;
}

.cls-8 {
    fill: #003738;
}

.cls-9 {
    fill: #002d2e;
}

.cls-10 {
    fill: #e2e3e4;
}

.cls-11 {
    fill: #cacbcd;
}

.cls-12,
.cls-48,
.cls-49 {
    fill: #fff;
}

.cls-13 {
    fill: #ebebec;
}

.cls-14 {
    fill: #ba2521;
}

.cls-15 {
    fill: #a01f1d;
}

.cls-16 {
    fill: #d32b27;
}

.cls-17 {
    fill: #b72420;
}

.cls-18 {
    fill: #b3231f;
}

.cls-19 {
    fill: #e6e7e8;
}

.cls-20 {
    fill: #ba2625;
}

.cls-21 {
    fill: #530000;
}

.cls-22 {
    fill: #7b1315;
}

.cls-23 {
    fill: #720e0f;
}

.cls-24 {
    fill: #9a1c16;
}

.cls-25 {
    fill: #82120a;
}

.cls-26 {
    fill: #be2827;
}

.cls-27 {
    fill: #7e7c7f;
}

.cls-28 {
    fill: #414244;
}

.cls-29 {
    fill: #414042;
}

.cls-30 {
    fill: #821227;
}

.cls-31 {
    fill: #be2622;
}

.cls-32 {
    fill: #464736;
}

.cls-33 {
    fill: #3c3d2e;
}

.cls-34 {
    fill: #50513d;
}

.cls-35 {
    fill: #8c1d19;
}

.cls-36 {
    fill: #ab231f;
}

.cls-37 {
    fill: #cf2a26;
}

.cls-38 {
    fill: #ecffa0;
    opacity: 0.3;
    mix-blend-mode: overlay;
}

.cls-39 {
    fill: #fbf7c0;
}

.cls-40 {
    opacity: 0.68;
}

.cls-41 {
    fill: #e0e0e0;
}

.cls-42 {
    fill: #0d536b;
    opacity: 0.85;
}

.cls-43 {
    fill: #063a52;
}

.cls-44 {
    fill: #d00c01;
}

.cls-45 {
    fill: #a5a5a5;
}

.cls-46 {
    fill: #babcbe;
}

.cls-46,
.cls-47 {
    mix-blend-mode: multiply;
}

.cls-47 {
    fill: #e4e5e6;
}

.cls-48 {
    font-size: 45.05px;
    font-family: HanaleiFill-Regular, Hanalei Fill;
}

.cls-49 {
    font-size: 54.92px;
    opacity: 0.99;
}

.cls-49,
.cls-50 {
    font-family: CoveredByYourGrace, Covered By Your Grace;
}

.cls-50 {
    font-size: 28.9px;
    fill: #f0f5f7;
}
