body,
html {
    overflow: hidden !important;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #333333;
}

#loader {
    position: absolute;
    z-index: 100;
    width: 20%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
}

.sky {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background: #003b3c;
}

.sea {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 60%;
    left: 0;
    background: #01bcff;
}

#lighthouseSvg {
    position: absolute;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    will-change: all;
}

#starSvg1 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    will-change: opacity;
}

#starSvg2,
#starSvg3,
#starSvg4 {
    display: none;
    will-change: opacity;
}

#clouds {
    position: absolute;
    width: 50%;
    height: auto;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    will-change: transform;
}

#sky {
    position: absolute;
    width: 80%;
    height: auto;
    bottom: 40%;
    left: 0;
    margin: 50px;
}

#sea {
    position: absolute;
    width: 100%;
    height: auto;
    top: 60%;
    left: 0;
}

#boat {
    position: absolute;
    width: 30%;
    height: auto;
    bottom: 10%;
    left: 100%;
    will-change: all;
}

#wheel {
    will-change: all;
}

#light {
    will-change: transform;
}

#GAWDSLink {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
    z-index: 102;
    font-family: CoveredByYourGrace, Covered By Your Grace;
    text-decoration: none;
    color: #ffde75;
}

#GAWDSLink > span {
    /* width: 20px; */
    font-size: 27px;
}

#GAWDSLink_svg {
    display: block;
    width: 8rem;
    height: auto;
    fill: #fff;
    z-index: 102;
}

@media screen and (max-width: 720px) {
    body,
    html {
        overflow: hidden !important;
        max-width: 100%;
    }

    #lighthouseSvg {
        position: absolute;
        width: 100%;
        height: auto;
        left: 50%;
        transform: translate(-50%, 0);
        will-change: all;
    }

    #starSvg1 {
        position: absolute;
        width: 100%;
        height: auto;
        top: 30%;
        left: 0;
        will-change: opacity;
    }

    #starSvg2 {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 40%;
        left: 0;
        will-change: opacity;
    }

    #starSvg3 {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        will-change: opacity;
    }

    #starSvg4 {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        top: 15%;
        left: 0;
        will-change: opacity;
    }

    #boat {
        width: 50%;
        bottom: 20%;
        will-change: all;
    }
    #GAWDSLink {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        font-size: 1rem;
        font-family: CoveredByYourGrace, Covered By Your Grace;
    }

    #GAWDSLink > span {
        /* width: 20px; */
        font-size: 18px;
    }

    #GAWDSLink_svg {
        display: block;
        width: 4rem;
        height: auto;
        fill: #fff;
    }
}


