.lighthouse-1 {
    fill: #018dff;
}

.lighthouse-2 {
    fill: #ffde75;
}

.lighthouse-3 {
    fill: #002d2e;
}

.lighthouse-4 {
    fill: #e2e3e4;
}

.lighthouse-5 {
    fill: #cacbcd;
}

.lighthouse-30,
.lighthouse-6 {
    fill: #fff;
}

.lighthouse-7 {
    fill: #ebebec;
}

.lighthouse-8 {
    fill: #ba2521;
}

.lighthouse-9 {
    fill: #a01f1d;
}

.lighthouse-10 {
    fill: #d32b27;
}

.lighthouse-11 {
    fill: #b72420;
}

.lighthouse-12 {
    fill: #b3231f;
}

.lighthouse-13 {
    fill: #e6e7e8;
}

.lighthouse-14 {
    fill: #ba2625;
}

.lighthouse-15 {
    fill: #530000;
}

.lighthouse-16 {
    fill: #7b1315;
}

.lighthouse-17 {
    fill: #720e0f;
}

.lighthouse-18 {
    fill: #9a1c16;
}

.lighthouse-19 {
    fill: #82120a;
}

.lighthouse-20 {
    fill: #be2827;
}

.lighthouse-21 {
    fill: #7e7c7f;
}

.lighthouse-22 {
    fill: #414244;
}

.lighthouse-23 {
    fill: #414042;
}

.lighthouse-24 {
    fill: #821227;
}

.lighthouse-25 {
    fill: #be2622;
}

.lighthouse-26 {
    fill: #464736;
}

.lighthouse-27 {
    fill: #3c3d2e;
}

.lighthouse-28 {
    fill: #50513d;
}

.lighthouse-29 {
    fill: #ecffa0;
    opacity: 0.3;
}

.lighthouse-29,
.lighthouse-30,
.lighthouse-31 {
    isolation: isolate;
}

.lighthouse-30 {
    opacity: 0.99;
    font-size: 54.92px;
}

.lighthouse-30,
.lighthouse-31 {
    font-family: CoveredByYourGrace, Covered By Your Grace;
}

.lighthouse-31 {
    font-size: 28.9px;
    fill: #f0f5f7;
}
